<p>Student Name</p>
<input type="text"
       class="form-control"
       (input)="onUpdateStudentName($event)">
<!--<input type="text"-->
<!--class="form-control"-->
<!--[ngModel]="studentNewName">-->
<!--<p>{{ studentNewName }}</p>-->
<br>
<button type="button" class="btn btn-primary"
        [disabled]="!allowNewStudent"
        (click)="onCreateStudent()">Add Student</button>
<!--<p>{{ studentCreationStatus }}</p>-->
<!--<p [innerText]="allowNewStudent"></p>-->

<p *ngIf="studentCreated; else noStudent">Student created, student name is {{ studentNewName }}</p>

<ng-template #noStudent>
    <p>No Student created!</p>
</ng-template>


<p *ngFor="let item of studentList; let n = index;"
   [ngStyle]="{ color: getColorStatus(item.studentStatus) }"
   [ngClass]="{ fontBold: true }">
    Index: {{ n }}
    Student Name: {{ item.studentName }}
    with ID: {{ item.studentId }}
    Status: {{ item.studentStatus }}</p>

<hr>